@charset "UTF-8";

@media (max-width: 768px) {
    section#celular {
        height: 500px;
        width: 250px;
    }
    
    iframe#tela {
        width: 214px;
        height: 375px;
        top: 64px;
        left: 18px;
    }
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    display: flex; /*linha do deepseek*/
    justify-content: center; /*linha do deepseek*/
    align-items: center; /*linha do deepseek*/
    min-height: 100vh; /*linha do deepseek*/
    overflow: hidden; /*linha do deepseek*/
}

main {
    position: relative;
    height: 100vh;
}

section#celular {
    position: absolute;
    top: 50%; /*eu consigo configurar 'top' e 'left', por conta da position absolute na section e da realtive no main*/
    left: 50%; /*porém, se eu fizer só top e left 50% ele posiciona o ponto superior esquerdo no centro, então, preciso do transform*/
    transform: translate(-50%, -50%); /*menos metade pra direita, menos metade pra cima*/

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat center center;
    background-size: contain;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
    border-radius: 2px;
}

section#redes-sociais {
    text-align: right;
    width: 100vw;
    height: 100vh;
}

section#redes-sociais img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box; /*colocando isso, a borda faz parte da caixa, e não é algo exterior*/
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.6); /*fica bom, por conta do box-sizing colocado*/
    transform: translate(-3px, -3px); /*pra esquerda e pra cima, por isso negativo*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.40); /*aumentar a sombra porque mexeu*/
    transition: transform .33s, border .2s; /*para que a transição ocorra de forma suave*/
}