@charset "UTF-8";

@media (max-width: 768px) {
    section#celular {
        height: 500px;
        width: 250px;
    }
    
    iframe#tela {
        width: 214px;
        height: 375px;
        top: 64px;
        left: 18px;
    }
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    display: flex; /*linha do deepseek*/
    justify-content: center; /*linha do deepseek*/
    align-items: center; /*linha do deepseek*/
    min-height: 100vh; /*linha do deepseek*/
    overflow: hidden; /*linha do deepseek*/
}

main {
    position: relative;
    height: 100vh;
}

section#celular {
    position: absolute;
    top: 50%; /*eu consigo configurar 'top' e 'left', por conta da position absolute na section e da realtive no main*/
    left: 50%; /*porém, se eu fizer só top e left 50% ele posiciona o ponto superior esquerdo no centro, então, preciso do transform*/
    transform: translate(-50%, -50%); /*menos metade pra direita, menos metade pra cima*/

    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat center center;
    background-size: contain;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
    border-radius: 2px;
}