@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

section#celular {
    position: absolute;
    top: 50%; /*eu consigo configurar 'top' e 'left', por conta da position absolute na section e da realtive no main*/
    left: 50%; /*porém, se eu fizer só top e left 50% ele posiciona o ponto superior esquerdo no centro, então, preciso do transform*/
    transform: translate(-50%, -50%); /*menos metade pra direita, menos metade pra cima*/

    height: 100vh;
    width: 100vw;
    background: url('../imagens/frame-iphone.png') no-repeat top center;
    background-size: contain;
}